@import 'base/variables';
@import 'libs/font';
@import 'base/animate';
@import 'libs/animate';
@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
body{
    color: #0D0D0D;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 10px;
}
@import 'blocks/null';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages.scss';
@import 'blocks/consultion';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/media-promo';
@import 'blocks/media-advantage';